* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: white;
}
.stopwatch{
    background-color: linear-gradient(rgba(0,0,0.7),rgba(0,0,0.7),url(/image/background.png));
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    text-align: center;
    color: white;
    
}
.stopwatch h1{
    font-size: 80px;
    margin: 50px 0;

}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch img{
    width: 60px;
    margin: 0 30px;
    cursor: pointer;
}
.stopwatch img:nth-child(2){
    width:92px;
}